/* line 12, ../../app/styles/_partial.scss */
#card {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  background: #d5d5d5;
  padding: 1.5rem 0 0;
}
/* line 18, ../../app/styles/_partial.scss */
#card .cards {
  padding: 1.5rem;
  box-shadow: 0 1px 2px #aaa;
  background: white;
  margin: 0 0 1rem;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  animation: fly-in-from-left .5s 1s ease both;
  transform-origin: top left;
  flex: 0 1 100%;
}
/* line 29, ../../app/styles/_partial.scss */
#card .card_float_left {
  float: left;
  width: 90%;
}
/* line 33, ../../app/styles/_partial.scss */
#card .card_float_right {
  float: right;
  width: 10%;
}
/* line 36, ../../app/styles/_partial.scss */
#card .card_float_right p {
  padding: 25px 0;
  color: black;
}
/* line 41, ../../app/styles/_partial.scss */
#card p {
  color: #7d7b7c;
}
/* line 45, ../../app/styles/_partial.scss */
#card a {
  color: #65b447;
}
/* line 48, ../../app/styles/_partial.scss */
#card h4 {
  color: black;
  padding: 0;
}
/* line 52, ../../app/styles/_partial.scss */
#card .details {
  text-align: right;
}
/* line 55, ../../app/styles/_partial.scss */
#card #pay {
  margin-top: 10px;
}
/* line 58, ../../app/styles/_partial.scss */
#card #location p {
  margin-top: 100%;
}
/* line 61, ../../app/styles/_partial.scss */
#card .col-md-6 {
  background: orange;
}

/* line 66, ../../app/styles/_partial.scss */
.btn, .button, .btn-accept, .button-accept, .btn-decline, .button-decline, .form-group button {
  border-width: 0;
  outline: none;
  padding: 13px;
  min-width: 150px;
  font-weight: 700;
}

/* line 74, ../../app/styles/_partial.scss */
.btn-accept, .button-accept {
  background: #63b346;
  color: white;
}

/* line 80, ../../app/styles/_partial.scss */
.btn-decline, .button-decline {
  background: white;
  color: #f6a319;
}

/* line 86, ../../app/styles/_partial.scss */
input::-webkit-input-placeholder, .form-group .profile-information::-webkit-input-placeholder, input:-moz-placeholder, .form-group .profile-information:-moz-placeholder, input::-moz-placeholder, .form-group .profile-information::-moz-placeholder, input:-ms-input-placeholder, .form-group .profile-information:-ms-input-placeholder, input:-ms-input-placeholder, .form-group .profile-information:-ms-input-placeholder {
  color: white;
}

/* line 90, ../../app/styles/_partial.scss */
.filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(1, 1, 1, 0.5);
}

/*Remove all ugly number spinners on input elements*/
/* line 100, ../../app/styles/_partial.scss */
input[type=number]::-webkit-inner-spin-button, .form-group [type=number].profile-information::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
.form-group [type=number].profile-information::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 106, ../../app/styles/_partial.scss */
ul {
  padding-left: 0;
}
/* line 108, ../../app/styles/_partial.scss */
ul li {
  list-style: none;
}

/* line 113, ../../app/styles/_partial.scss */
.header {
  background: #f6a319;
  width: 100%;
  padding: 0;
  z-index: 900;
  /*removes bootsrap navigation hover*/
}
/* line 121, ../../app/styles/_partial.scss */
.header .nav li a:hover, .header .nav li a:focus {
  background: none;
}
/* line 127, ../../app/styles/_partial.scss */
.header .navbar {
  margin-bottom: 0;
}
/* line 130, ../../app/styles/_partial.scss */
.header .navbar .navbar-brand, .header .navbar a {
  color: white;
}
/* line 133, ../../app/styles/_partial.scss */
.header .navbar button {
  margin: 0;
  color: white;
}

/* line 141, ../../app/styles/_partial.scss */
footer {
  background: #263a42;
  text-align: center;
  padding: 20px 0;
}
/* line 145, ../../app/styles/_partial.scss */
footer .button, footer .btn-accept, footer .button-accept, footer .btn-decline, footer .button-decline, footer .form-group button, .form-group footer button {
  color: #f6a319;
  border: 1px solid #f6a319;
}
/* line 149, ../../app/styles/_partial.scss */
footer ul {
  padding: 20px 0;
}
/* line 152, ../../app/styles/_partial.scss */
footer h4 {
  color: white;
  font-weight: 700;
}

/* line 158, ../../app/styles/_partial.scss */
.create-article {
  text-align: center;
}
/* line 160, ../../app/styles/_partial.scss */
.create-article p:nth-child(2) {
  width: 200px;
  margin: 0 auto;
}

/* line 167, ../../app/styles/_partial.scss */
.container .has-error input, .container .has-error .form-group .profile-information, .form-group .container .has-error .profile-information, .container .has-error select, .container .has-error textarea {
  border: 1px solid red;
}

/* line 172, ../../app/styles/_partial.scss */
.form-group {
  text-align: left;
}
/* line 174, ../../app/styles/_partial.scss */
.form-group label {
  color: #151f2f;
  text-transform: uppercase;
}
/* line 178, ../../app/styles/_partial.scss */
.form-group input, .form-group .profile-information, .form-group select, .form-group textarea {
  text-align: left;
  background-color: transparent;
  border: 1px solid #dedfe0;
  outline: none;
  padding: 13px;
  width: 100%;
  color: black;
  box-sizing: border-box;
}
/* line 188, ../../app/styles/_partial.scss */
.form-group input, .form-group .profile-information, .form-group select {
  height: 50px;
}
/* line 191, ../../app/styles/_partial.scss */
.form-group .profile-information {
  margin-top: 20px;
}
/* line 194, ../../app/styles/_partial.scss */
.form-group .profile-information p {
  margin-bottom: 0;
}
/* line 198, ../../app/styles/_partial.scss */
.form-group ::-webkit-input-placeholder {
  text-align: left;
}
/* line 202, ../../app/styles/_partial.scss */
.form-group :-moz-placeholder {
  /* Firefox 18- */
  text-align: left;
}
/* line 206, ../../app/styles/_partial.scss */
.form-group ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: left;
}
/* line 210, ../../app/styles/_partial.scss */
.form-group :-ms-input-placeholder {
  text-align: left;
}
/* line 214, ../../app/styles/_partial.scss */
.form-group button {
  margin-bottom: 15px;
  width: 100%;
}

/* line 221, ../../app/styles/_partial.scss */
#facebook {
  background: #3B5998;
  border-color: #3B5998;
  margin-top: 0;
}

/* line 227, ../../app/styles/_partial.scss */
.center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  /* line 233, ../../app/styles/_partial.scss */
  #card .cards {
    flex: 0 1 49%;
  }
  /* line 236, ../../app/styles/_partial.scss */
  #card .cards:nth-child(even) {
    margin-left: 0;
  }
  /* line 239, ../../app/styles/_partial.scss */
  #card .cards:nth-child(odd) {
    margin-right: 0;
  }
}
/* line 4, ../../app/styles/login-register.scss */
#text-login, #text-register {
  text-align: left;
  margin: 10px 0;
  color: white;
}
/* line 8, ../../app/styles/login-register.scss */
#text-login h4, #text-register h4 {
  display: inline-block;
}

/* line 14, ../../app/styles/login-register.scss */
#text-register:nth-child(odd) h4 {
  color: rgba(228, 228, 228, 0.8);
  margin-right: 20px;
}

/* line 20, ../../app/styles/login-register.scss */
#text-login:nth-child(even) h4 {
  color: rgba(228, 228, 228, 0.8);
  margin-left: 20px;
}

/* line 25, ../../app/styles/login-register.scss */
#login_prompt {
  color: #e2e2e2;
  border-color: #e2e2e2;
  margin-top: 30px;
}

/* line 31, ../../app/styles/login-register.scss */
#login_prompt a {
  color: blue;
  text-decoration: underline;
}

/* line 36, ../../app/styles/login-register.scss */
#form-middle {
  display: block;
  padding: 6px 0;
  margin: 0;
}

@media screen and (min-width: 992px) {
  /* line 43, ../../app/styles/login-register.scss */
  form .col-md-6 {
    margin-left: 25%;
  }
}

/*# sourceMappingURL=login-register.css.map */