$primary-font-color: rgba(180, 182, 181, 1);
$secondary-font-color: rgba (247,161,24,1);
$h-font-family: 'Montserrat', sans-serif;
$text-font-family: 'Source Sans Pro', sans-serif;
/*Color and font for all p elements*/
p, a, a:hover {
  color: $primary-font-color;
  font-family: $text-font-family;
  text-decoration: none;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: $primary-font-color;
  font-family: $h-font-family;
}
