$primary-orange: rgba(246, 163, 25, 1);
$secondary-blue: rgba(38, 52, 65, 1);
$secondary-blue: rgba(38, 58, 66, 1);
$gray: rgba(46, 46, 46, 1);
$white: rgba(255, 255, 255, 1);
$white-transparent: rgba(228, 228, 228, 0.8);
$black-transparent: rgba(1, 1, 1, 0.5);
$facebook-color: #3B5998;

#card {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  background: #d5d5d5;
  padding: 1.5rem 0 0;;
  .cards {
    padding: 1.5rem;
    box-shadow: 0 1px 2px #aaa;
    background: white;
    margin: 0 0 1rem;
    border-radius: 3px;
    user-select: none;
    animation: fly-in-from-left .5s 1s ease both;
    transform-origin: top left;
    flex: 0 1 100%;
  }

  h4 {
    color: $primary-orange;
    padding: 0;
  }
  .details {
    text-align: right;
  }
  #pay {
    margin-top: 10px;
  }
  #location p {
    margin-top: 100%;
  }
  .col-md-6 {
    background: orange;
  }
}

.btn, .button {
  border-width: 0;
  outline: none;
  padding: 13px;
  min-width: 150px;
  font-weight: 700;
}

.btn-accept, .button-accept {
  @extend .button;
  background: $primary-orange;
  color: $white;
}

.btn-decline, .button-decline {
  @extend .button;
  background: $white;
  color: $primary-orange;
}

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-ms-input-placeholder {
  color: $white;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $black-transparent;
}

/*Remove all ugly number spinners on input elements*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

.header {
  background: $primary-orange;
  width: 100%;
  padding: 0;
  z-index: 900;
  /*removes bootsrap navigation hover*/
  .nav {
    li {
      a:hover, a:focus {
        background: none;
      }
    }
  }

  .navbar {
    margin-bottom: 0;

    .navbar-brand, a {
      color: $white;
    }
    button {
      margin: 0;
      color: $white;
    }
  }

}

footer {
  background: $secondary-blue;
  text-align: center;
  padding: 20px 0px;
  .button {
    color: $primary-orange;
    border: 1px solid $primary-orange;
  }
  ul {
    padding: 20px 0;
  }
  h4 {
    color: $white;
    font-weight: 700;
  }
}

.form-group {
  input, select, textarea, select {
    text-align: left;
    background-color: transparent;
    border: 1px solid $white;
    outline: none;
    padding: 13px;
    width: 100%;
    color: black;
  }
  .profile-information {
    @extend input;
    margin-top: 20px;
    p {
      margin-bottom: 0;
    }
  }
  ::-webkit-input-placeholder {
    text-align: left;
  }

  :-moz-placeholder { /* Firefox 18- */
    text-align: left;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    text-align: left;
  }

  :-ms-input-placeholder {
    text-align: left;
  }

  button {
    @extend .button;
    margin-bottom: 15px;
    width: 100%;
  }
}

#facebook {
  background: #3B5998;
  border-color: #3B5998;
  margin-top: 0;
}

.center {
  text-align: center;
}
@media screen and (min-width: 768px) {
  #card {
    .cards {
      flex: 0 1 49%;
    }
    .cards:nth-child(even) {
      margin-left: 0;
    }
    .cards:nth-child(odd) {
      margin-right: 0;
    }
  }

}


