<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Serble</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/createAd.css">
  <link rel="stylesheet" href="styles/profile.css">
  <!-- endbuild -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,700' rel='stylesheet'
        type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>
<body ng-app="serbleApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <div class="container">
    <nav>
      <div class="row">
        <div class="col-xs-8" id="navMenu">
          <!--Hides or shows the nav bar on button click-->
          <button type="button" data-toggle="collapse" data-target="#myNavbar" class="menuButton">
            <i class="material-icons">&#xE5D2;</i>
          </button>
          <a href="#/"><h3>Serble</h3></a>
        </div>

        <!--Hides or shows the search bar on button click-->
        <div class="col-xs-4" id="searchMenu">
          <button type="button" data-toggle="collapse" data-target="#search">
            <i class="material-icons">&#xE8B6;</i>
          </button>
        </div>
      </div>
      <!--Displayed when .menubutton is pressed-->
      <div class="row collapse" id="myNavbar">
        <div class="col-xs-12" id="userinfo">
          <i class="material-icons">&#xE853;</i>

          <p>Anders Karlsson</p>
        </div>
        <ul class="col-xs-12">
          <li><p>Start</p></li>
          <li><p>Feed</p></li>
          <li><p>Map</p></li>
          <li><p>Create add</p></li>
          <li><p>Profile</p></li>
          <li><p>Sign out</p></li>
        </ul>
      </div>
      <!--Displayed when #searchMenu button is pressed-->
      <div class="row">
        <div class="collapse width" id="search">
          <form action="" id="searchBar" class="col-xs-12 col-md-4 ">
            <input ng-model="query" class="col-xs-10 col-md-10" id="searchInput" placeholder="Search">
            <a class="clear col-xs-1 col-md-1" ng-click="query = null">
              <i class="material-icons">&#xE8B6;</i>
            </a>
          </form>
        </div>
      </div>


    </nav>
    <div class="row secondNav" ng-controller="NavCtrl">
      <div><a href="/#/home" ng-class="{active: getClass('/home')}">Home</a></div>
      <div><a href="/#/map" ng-class="{active: getClass('/map')}">Map</a></div>
      <div><a href="/#/createad" ng-class="{active: getClass('/createad')}">Create ad</a></div>
    </div>
  </div>
</div>

<div ng-view=""></div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/map.js"></script>
<script src="scripts/controllers/createAd.js"></script>
<script src="scripts/controllers/profile.js"></script>
<!-- endbuild -->
</body>
</html>
