client/node_modules
client/dist
client/.tmp
client/.sass-cache
client/bower_components
server/node_modules
server/content/articles
server/content/avatars
!server/content/articles/default.png
!server/content/avatars/default.png

.idea/
