#createProfile {
  text-align: center;
  background: url('../images/brush.jpg');
  border-bottom: 1px;
}

#createProfile .profilePicture .material-icons {
  display: inline-block;
  font-size: 4em;

}

#createProfile #Email {
  margin-top: 10px;
}

#createProfile .form-group {
  margin-bottom: 10px;
}


#createProfile .row {
  border-top: 1px solid rgba(228, 228, 228, 1);
  padding: 30px 20px;
}

#createProfile .row h3 {
border-bottom: 1px solid rgba(228, 228, 228, 1);
padding-bottom:10px;
}


#createProfile .form-group input {
  outline: none;
  background:none;
  border-width: 0 0 1px 0;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  width: 100%;
}
#createProfile .form-group .col-xs-6{
  text-align: center;
  margin-top: 30px;

}
#createProfile .form-group .col-xs-6 button{
  border:  1px solid rgba(228, 228, 228, 1);
  background: rgba(246, 161, 24, 1);
  border-radius: 30px;
  padding: 5px 10px;

}


