#login {
  background: url("../images/brush.jpg");
}

#login .container {
  position: center;
  background: red;
}

#login .row {
  text-align: center;

}

#login h1 {
  color: rgba(226, 226, 226, 1);
  border-bottom: 1px solid rgba(226, 226, 226, 1);
  padding-bottom: 10px;

}

#login #textLogin .col-xs-12 {
  padding-bottom: 12%;
  padding-top: 12%;
}

#login .form-group input {
  text-align: center;
  background: transparent;
  border: 1px solid rgba(226, 226, 226, 1);
  border-radius: 30px;
  outline: none;
  padding: 2%;
  width: 90%;
  color: rgba(226, 226, 226, 1);
}

#login ::-webkit-input-placeholder {
  text-align: center;
}

#login :-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

#login ::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}

#login :-ms-input-placeholder {
  text-align: center;
}

#login .form-group button {
  background: rgba(255, 164, 0, 1);
  border: 1px solid rgba(255, 164, 0, 1);
  border-radius: 30px;
  outline: none;
  width: 90%;
  margin-top: 30px;
  color: white;
}

#login .form-group #facebook {
  background: #3B5998;
  border-color: #3B5998;
}

#login #login_prompt {
  color: rgba(226, 226, 226, 1);
  border-color: rgba(226, 226, 226, 1);
  margin-top: 30px;
}

#login #login_prompt a {
  color: blue;
  text-decoration: underline;
}
