

/* Main marketing message and create ad button */
#main .jumbotron {
  text-align: center;
  border-bottom: 1px solid rgba(228, 228, 228, 1);
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#pitch {
  background: url(./../images/handshake.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#explanation {
  background: url(./../images/carGps.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main .jumbotron h1 {
  color: rgba(228, 228, 228, 1);
  border-bottom: 1px solid rgba(228, 228, 228, 1);
  padding-bottom: 10px;
}

#main .jumbotron p {
  font-size: 14px;
}

#main .jumbotron .btn {
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 30px;
}

/*Make the cards white and ad some padding*/
.cards {
  background: rgb(255, 164, 0);
  border-bottom: 1px solid rgba(228, 228, 228, 1);
}

.cards a:hover {
  background: rgba(106, 106, 106, 0.8)
}

.cards h3 {
  padding: 0;
}

.cards .details {
  text-align: right;
  margin-top: 10px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/*Map styling*/
.angular-google-map-container {
  height: 400px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  button:hover {
    background: black;
  }

  #searchBar {
    float: right;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  #main .jumbotron {
    border-bottom: 0;
  }
}
