/* Main marketing message and create ad button */
#main .jumbotron {
  text-align: center;
  border-bottom: 1px solid rgba(228, 228, 228, 1);
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

#pitch {
  background: url(./../images/handshake.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#explanation {
  background: url(./../images/carGps.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#explanation p {
  margin-bottom: 0;
}

#explanation .filter .row .col-xs-6 #terms {
  margin-top: 10px;
  color: rgba(207, 207, 207, 1);
}

#main #explanation .row {
  margin-top: 150px;
}

#main #view_more {
  background: rgb(255, 164, 0);
  text-align: center;

}

#main #view_more p {
  margin-top: 10px;

}
#main .lead{
  margin-bottom: 50px;
}

#main .jumbotron h1 {
  color: rgba(228, 228, 228, 1);
  border-bottom: 1px solid rgba(228, 228, 228, 1);
  padding-bottom: 10px;
}

#main .jumbotron p {
  font-size: 14px;
}

#main .jumbotron .btn {
  background: rgb(255, 164, 0);
  border-radius: 30px;
  padding: 10px 30px;
}

/*Make the cards white and ad some padding*/
#main .cards {
  background: rgba(62, 63, 63, 1);
  border-top: 1px solid rgba(228, 228, 228, 1);
  min-height: 145px;
  padding: 0 30px;
}

#main .cards a:hover {
  background: rgba(106, 106, 106, 0.8);
}

#main .cards h3 {
  padding: 0;
}

#main .cards .details {
  text-align: right;
}

.cards #pay {
  margin-top: 10px;
}

.cards #location p {
  margin-top: 100%;
}
