#profile {
  text-align: center;
  background-color: rgba(106, 106, 106, 1);
  border-bottom: 2px;
  color: red;
}

#profile .profilePicture span {
  border: 2px solid rgba(228, 228, 228, 1);
  border-radius: 100%;
  padding: 2%;
  display: inline-block;
  font-size: 3em;

}

#profile #Email {
  margin-top: 10px;
}

#profile .form-group {
  margin-bottom: 10px;
}


#profile .row {
  border-top: 2px solid rgba(228, 228, 228, 1);
  padding: 10px 0px;
}

#profile .form-group input {
  outline: none;
  background-color: rgba(106, 106, 106, 1);
  border-width: 0 0 2px 0;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  width: 100%;
}
