<!doctype html>
<html lang="se">
<head>
  <meta charset="utf-8">
  <title>Serble</title>
  <meta name="description" content="">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/ladda/dist/ladda.min.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/fontello.css">
  <!-- endbuild -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,700' rel='stylesheet'
        type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="import" href="https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html">

</head>
<body ng-app="serbleApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<header ng-controller="indexCtrl">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <a class="navbar-brand" href="#/home">serble</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#/home" ng-class="{ active: isActive('/home')}">Startsida</a></li>
          <li><a href="#/create-article" ng-class="{ active: isActive('/create-article')}">Skapa annons</a></li>
          <li><a href="#/map" ng-class="{ active: isActive('/map')}">Karta </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="!checkIfLoggedIn()">
          <li><a href="" ng-click="toggleModalLogin()">Logga in</a></li>
          <li><a href="" ng-click="toggleModalRegister()">Registrera</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="checkIfLoggedIn()">
          <li><a href="#/profile">{{username}}</a></li>
          <li><a href="" ng-click="signOut()">Logga ut</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <modal-dialog-register show='modalShownRegister'>
  </modal-dialog-register>
  <modal-dialog-login show='modalShownLogin'>
  </modal-dialog-login>

</header>
<div ng-view=""></div>

<footer ng-controller="indexCtrl">
  <div class="container">
    <div class="row">

      <div>
        <ul>
          <li><h5>Besök oss</h5></li>
          <li><p>Kungsgatan 348 D</p></li>
          <li><p>903 26 Umea</p></li>
        </ul>
      </div>

      <div>
        <ul>
          <li><h5>Säg hej</h5></li>
          <li><a href=""><p>mail@serble.se</p></a></li>
          <li><a href=""><p>+46 90 231 281</p></a></li>
        </ul>
      </div>

      <div>
        <ul>
          <li><h5>Support</h5></li>
          <li><a href=""><p>support@serble.se</p></a></li>
          <li><a href=""><p>+46 90 231 381</p></a></li>
        </ul>
      </div>

      <div>
        <h5>Vi är sociala</h5>
        <a href="" class="icon-facebook-circled social-media"></a>
        <a href="" class="icon-twitter-circled social-media"></a>
      </div>
    </div>
    <div class="row">
      <p id="Copyright">Copyright (©) Serble 2016</p>
    </div>
  </div>
</footer>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/spin.js/spin.js"></script>
<script src="bower_components/ladda/dist/ladda.min.js"></script>
<script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/index.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/map.js"></script>
<script src="scripts/controllers/article.js"></script>
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/create-article.js"></script>
<script src="scripts/services/getandpostarticlesservice.js"></script>
<script src="scripts/services/mymapservices.js"></script>
<script src="scripts/services/geocodeservice.js"></script>
<script src="scripts/directives/modaldialoglogin.js"></script>
<script src="scripts/directives/modaldialogregister.js"></script>
<script src="scripts/directives/passwordverify.js"></script>
<script src="scripts/directives/modalsuccess.js"></script>
<script src="scripts/directives/modaldialogerror.js"></script>
<script src="scripts/services/authenticationservice.js"></script>
<script src="scripts/services/userservice.js"></script>
<script src="scripts/controllers/user.js"></script>
<script src="scripts/filters/distancefilter.js"></script>
<script src="scripts/filters/money.js"></script>
<!-- endbuild -->
</body>
</html>
