<!doctype html>
<html lang="se">
<head>
  <meta charset="utf-8">
  <title>Serble</title>
  <meta name="description" content="">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.css'/>
  <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css'/>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,700' rel='stylesheet'
        type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body ng-app="serbleApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<header ng-controller="headerCtrl">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <a class="navbar-brand" href="#/home">serble</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#/home" ng-class="{ active: isActive('/home')}">Startsida</a></li>
          <li><a href="#/create-article" ng-class="{ active: isActive('/create-article')}">Skapa annons</a></li>
          <li><a href="#/map" ng-class="{ active: isActive('/map')}">Karta </a></li>
          <li><p>+46 90 231 27</p></li>
          <li><p>mail@serble.se</p></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <lI><a href="" ng-click="toggleModalLogin()">Logga in</a></lI>
          <li><a href="" ng-click="toggleModalRegister()">Registrera</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <modal-dialog-login show='modalShownLogin'>
    <div class='ng-modal-close'>
      <p ng-click='toggleModalLogin()'>X</p>
    </div>
    <form name="loginForm" novalidate>
      <h1>Logga in</h1>
      <p>Skriv in den e-mail och det lösenord du använde när du registrerade dig</p>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="form-group"
               ng-class="{ 'has-error': loginForm.eMail.$touched && loginForm.eMail.$invalid }">
            <input class="form" type="email" name="eMail"
                   placeholder="E-MAIL"
                   ng-model="main.eMail"
                   ng-minlength="0"
                   ng-maxlength="40"
                   required>

            <div class="help-block" ng-messages="loginForm.eMail.$error"
                 ng-if="loginForm.eMail.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="form-group"
               ng-class="{'has-error': loginForm.password.$touched && loginForm.password.$invalid}">
            <input class="form" type="password" name="password"
                   placeholder="LÖSENORD"
                   ng-model="main.password"
                   ng-minlength="4"
                   ng-maxlength="200"
                   required>
            <div class="help-block" ng-messages="loginForm.password.$error"
                 ng-if="loginForm.password.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row center">
        <div class="col-xs-12 col-md-12">
          <div class="form-group">
            <button type="submit" class="btn-accept" value="Submit">LOGGA IN</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row center" id="login_prompt">
      <div class="col-xs-12">
        <p>Inte registrerad? <a href="#/register">Skapa en användare här</a>.</p>
      </div>
    </div>
  </modal-dialog-login>
  <modal-dialog-register show='modalShownRegister'>
    <div class='ng-modal-close'>
      <p ng-click='toggleModalRegister()'>X</p>
    </div>
    <form name="registrationForm" novalidate>
      <h1>Registrera</h1>
      <p> Du måste ha
        minst 4 tecken och du kan använda a-z och 0-9</p>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="form-group"
               ng-class="{ 'has-error': registrationForm.eMail.$touched && registrationForm.eMail.$invalid }">
            <input class="form" type="email" name="eMail"
                   placeholder="E-MAIL"
                   ng-model="main.eMail"
                   ng-minlength="0"
                   ng-maxlength="40"
                   required>

            <div class="help-block" ng-messages="registrationForm.eMail.$error"
                 ng-if="registrationForm.eMail.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="form-group"
               ng-class="{'has-error': registrationForm.password.$touched && registrationForm.password.$invalid}">
            <input class="form" type="password" name="password" id="password"
                   placeholder="LÖSENORD"
                   ng-model="main.password"
                   ng-minlength="4"
                   ng-maxlength="200"
                   required>
            <div class="help-block" ng-messages="registrationForm.password.$error"
                 ng-if="registrationForm.password.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="form-group"
               ng-class="{'has-error': registrationForm.password_c.$touched && registrationForm.password_c.$invalid}">
            <input class="form" type="password" name="password_c" id="password_c"
                   placeholder="REPTERA LÖSENORDET"
                   ng-model="main.passwordc"
                   ng-minlength="4"
                   ng-maxlength="200"
                   valid-password-c="main.password"
                   required>
            <div class="help-block" ng-messages="registrationForm.password_c.$error"
                 ng-if="registrationForm.password_c.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row center">
        <div class="col-xs-12 col-md-12">
          <div class="form-group">
            <button type="submit" class="btn-accept" value="Submit">LOGGA IN</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row center" id="login_prompt">
      <div class="col-xs-12">
        <p>Inte registrerad? <a href="#/register">Skapa en användare här</a>.</p>
      </div>
    </div>
  </modal-dialog-register>
</header>
<div ng-view=""></div>

<footer ng-controller="headerCtrl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <ul>
          <li><h5>BESÖK OSS</h5></li>
          <li><a href="#/home"><p>Kungsgatan 63 D</p></a></li>
          <li><a href="#/flow"><p>903 26 Umea</p></a></li>

        </ul>
      </div>

      <div class="col-xs-12 col-md-4">
        <ul>
          <li><h5>KONTAKT</h5></li>
          <li><a href=""><p>mail@serble.se</p></a></li>
          <li><a href=""><p></p>+46 90 231 28</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4">

        <ul>

          <li><h5>SUPPORT</h5></li>
          <li><a href=""><p>support@serble.se</p></a></li>
          <li><a href=""><p>+46 90 231 38</p></a></li>

        </ul>
      </div>

      <div class="col-xs-12 xcl-md-12">
        <ul>
          <li><a class="button" smooth-scroll-jquery target="">GÅ TILL BÖRJAN</a></li>
        </ul>
      </div>
      "<p id="Copyright">Copyright (©) Serble 2016</p>
    </div>
  </div>
</footer>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/angular-smoothscroll/dist/scripts/bb15da28.scripts.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/map.js"></script>
<script src="scripts/controllers/article.js"></script>
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/articles.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/create-article.js"></script>
<script src="scripts/services/getandpostarticlesservice.js"></script>
<script src="scripts/services/mymapservices.js"></script>
<script src="scripts/services/geocodeservice.js"></script>
<script src="scripts/directives/modaldialoglogin.js"></script>
<script src="scripts/directives/modaldialogregister.js"></script>
<script src="scripts/directives/validpasswordc.js"></script>
<!-- endbuild -->
</body>
</html>
