<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.css' />
  <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/login-register.css">
  <link rel="stylesheet" href="styles/article.css">
  <!-- endbuild -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,700' rel='stylesheet'
        type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body ng-app="serbleApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<div class="container">
<!-- Add your site or application content here -->
<div class="header" ng-controller="headerCtrl">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <i class="material-icons">&#xE5D2;</i>
        </button>
        <a class="navbar-brand" href="#/home">Serble</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#/home" ng-class="{ active: isActive('/home')}">Start</a></li>
          <li><a href="#/map"  ng-class="{ active: isActive('/map')}">Karta</a></li>
          <li><a href="#/articles" ng-class="{ active: isActive('/articles')}">Flöde</a></li>
          <li><a href="#/create-article" ng-class="{ active: isActive('/create-article')}">Skapa Annons</a></li>
          <li><a href="#/profile" ng-class="{ active: isActive('/profile')}">Profil</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/register"><i class="material-icons md-18">&#xE7FD;</i> Sign Up</a></li>
          <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--
	                <div class="row" id="firstNav">
	                  <div class="col-xs-2" id="navMenu">
		                <button type="button" data-toggle="collapse" data-target="#myNavbar" class="menuButton">
		                  <i class="material-icons">&#xE5D2;</i>
		                </button>
	                  </div>
	                  <div class="col-xs-10">
		                <div class="row">
		                  <div class="col-xs-10">
			                <div class="collapse  apa " id="search">
			                  <form action="" id="searchBar">
				                <input type="search" ng-model="query" id="searchInput" placeholder="Search">
				                <a class="clear" ng-click="query = null">
				                  <i class="material-icons">&#xE5C9;</i>
				                </a>
			                  </form>
			                </div>
		                  </div>
		                  <div class="col-xs-10">
			                <h4 class=" collapse apa in">Serble</h4>
		                  </div>
		                  <div class="col-xs-2">
			                <div id="searchMenu">
			                  <button type="button" data-toggle="collapse" data-target=".apa">
				                <i class="material-icons">&#xE8B6;</i>
			                  </button>
			                </div>
		                  </div>
		                </div>
	                  </div>
	                </div>
                  <div class="row collapse" id="myNavbar">
	                <div class="col-xs-12" id="userinfo">
	                  <i class="material-icons">&#xE853;</i>

	                  <p>Anders Karlsson</p>
	                </div>
	                <ul class="col-xs-12">
	                  <li><a data-toggle="collapse" data-target="#myNavbar" href="/#/home"><p>Start</p></a></li>
	                  <li><p>Feed</p></li>
	                  <li><a data-toggle="collapse" data-target="#myNavbar" href="/#/map"><p>Map</p></a></li>
	                  <li><a data-toggle="collapse" data-target="#myNavbar" href="/#/createad"><p>Create ad</p></a></li>
	                  <li><a data-toggle="collapse" data-target="#myNavbar" href="/#/profile"><p>Profile</p></a></li>
	                  <li><p>Sign out</p></li>
	                </ul>
                  </div>

                </div>

                <!--Displayed when .menubutton is pressed-->

  <!--
                  <div id="secondNav" ng-controller="NavCtrl">
                   <div><a href="/#/home" ng-class="{active: getClass('/home')}">Home</a></div>
                   <div><a href="/#/map" ng-class="{active: getClass('/map')}">Map</a></div>
                   <div><a href="/#/createad" ng-class="{active: getClass('/createad')}">Create ad</a></div>
                  </div>
                  -->
</div>

<div ng-view=""></div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <ul>
          <li><h4>NAVIGATION</h4></li>
          <li><a href="#/home"><p>Start</p></a></li>
          <li><a href="#/flow"><p>Flöde</p></a></li>
          <li><a href="#/map"><p>Karta</p></a></li>
          <li><a href="#/create-article"><p>Skapa annons</p></a></li>
          <li><a href="#/profile"><p>Logga in</p></a></li>
          <li><a href="#/register"><p>Registrera</p></a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-md-4">
        <ul>
          <li><h4>KONTAKTA OSS</h4></li>
          <li><a href=""><p>kontakt@serble.se</p></a></li>
          <li><a href=""><p></p>Användarvillkor</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4">

        <ul>

          <li><h4>SUPPORT</h4></li>
          <li><a href=""><p>Vanliga frågor</p></a></li>
          <li><a href=""><p>Användarvillkor</p></a></li>

        </ul>
      </div>

      <div class="col-xs-12 xcl-md-12">
        <ul>
          <li><a class="button" href="#pitch">GÅ TILL BÖRJAN</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/map.js"></script>
<script src="scripts/controllers/article.js"></script>
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/articles.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/create-article.js"></script>
<script src="scripts/controllers/create-profile.js"></script>
<script src="scripts/controllers/create-article-info.js"></script>
<script src="scripts/controllers/create-article-preview.js"></script>
<!-- endbuild -->
</body>
</html>
