$primary-orange: rgba(246, 163, 25, 1);
$secondary-black: rgb(34, 34, 34);
$secondary-blue: rgba(38, 58, 66, 1);
$gray: rgba(222, 223, 224, 1);
$white: rgba(255, 255, 255, 1);
$white-transparent: rgba(228, 228, 228, 0.8);
$black-transparent: rgba(1, 1, 1, 0.5);
$facebook-color: #3B5998;
$green: rgba(99, 179, 70, 1);
$green-light: rgba(80, 160, 51, 1);
$dark-white: #dfdfdf;
$input-border-color: #ccc;
