.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  background-color: #000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  .form-group {
    text-align: center;
  }
  .errorMessage {
    margin-top: 10px;
    color: red;
    font-size: 18px;
  }
}

.ng-modal-dialog-content {
  max-width: 600px;
  min-width: 300px;
  text-align: center;
  pointer-events: auto;
  form, .modalInfo {
    padding: 20px;
    background-color: #fff;
    h1 {
      color: $green;
      font-size: 28px;
    }
    p{
      font-size: 13px;
    }
    .infoIcon {
      width: $circle-size;
      height: $circle-size;
      border-radius: 50%;
      margin: calc(#{$circle-size} * -0.75) auto auto auto;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 60px;
      color: white;
      user-select: none;
    }
    .success {
      background: $green;
    }
    .error {
      background: orange;
    }
  }
  button, a {
    display: block;
    width: 100%;
  }
  button {
    font-weight: bold;
    font-size: 17px;
  }
  .terms a {
    color: $green;
    font-weight: bold;
    display: inline;
  }
  #login_prompt {
    margin-top: 20px;
    font-size: 13px;
    p {
      color: white;

    }
    span {
      margin-top: 10px;
      color: $green;
      cursor: pointer;
      font-weight: bold;
    }
  }
}

.ng-modal-close {
  padding: 10px 15px;
  height: 50px;
  border-bottom: 1px solid $gray;
  background-color: #fff;
  .closeModalDiv {
    float: right;
    width: 30px;
    height: 30px;
    margin-right: -7px;
  }
  .closeModal {
    background-color: $primary-font-color;
    position: absolute;
    right: 26px;
    top: 14px;
    width: 2px;
    height: 21px;
  }
  .left {
    transform: rotate(-45deg);
  }
  .right {
    transform: rotate(45deg);
  }
}
