
$circle-size: 100px;


.btn, .button {
  border-width: 0;
  outline: none;
}

.btn-primary {
  font-family: 'Sak-light', sans-serif;
  font-size: 16px;
  color: #fcfcfc;
}
.btn-primary:active,.btn-primary:focus,.btn-primary:active:focus,.btn-primary:active:hover{
  background: $green-light;
}

.btn-accept, .button-accept {
  @extend .btn;
  background: $green;
  height: 50px;
  color: white;
}

.btn-accept:hover, .button-accept:hover {
  background: $green-light;
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

header.hideHeader {
  transform: translate(0, -100%);
}


.create-article {
  text-align: center;
  p:nth-child(2) {
    width: 70%;
    margin: 0 auto;
  }
  .container {
    background: $white;
      padding-top: 50px;
  }
}

.container .has-error {
  input, select, textarea {
    border: 1px solid red;
  }
  .help-block {
    p {
      color: red !important;
    }
  }
}


#facebook {
  background: #3B5998;
  border-color: #3B5998;
  margin-top: 0;
}

.center {
  text-align: center;
}

.angular-google-map-container {
  height: 70vh;
}

.imageUpload {
  box-sizing: border-box;
  height: 50px;
  border: 1px solid $gray;
  flex-flow: wrap row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  .deleteImage {
    height: 50px;
    width: 50px;
    background-image: url("./../images/ic_close_black_24px.svg");
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    flex: 0 1 10%;
  }
  div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex: 0 1 70%;

    p {
      margin-bottom: 0;
      color: black;
    }
  }
  img {
    display: flex;
    height: 40px;
    flex: 0 1 10%;
  }
}



#BackgroundContact {
  width: 100%;
  background: $dark-white;
  padding: 10px;
  text-align: center;
  button {
    width: 90%;
    border: 1px solid $green;
    border-radius: 30px;
    margin: 10px auto;
  }

}

.profile {
  background: white;
}

.no-padding {
  padding: 0;
}


.social-media {
  color: #888;
  font-size: 40px;
  display: inline-block;
  line-height: 35px;
  transition: all 0.2s ease-in-out;
}

.social-media:hover {
  color: #2d9;
}

.articleStatus {
  background: white;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {

  .no-padding {
    padding: 0;
  }
  .container {
    max-width: 1140px;
  }

  header,
  footer {
    padding-left: 0;
    padding-right: 0;
  }
  #main .jumbotron {
    border-bottom: 0;
    h1 {
      margin-top: 150px;
    }
    a {
      margin-bottom: 100px;
      padding: 15px 10%;
    }
  }

  .imageUpload {
    div {
      flex: 0 1 74%;
    }
  }
  .profileInfo {
    button {
      width: 50%;
    }
  }
}
