$primary-orange: rgba(246, 163, 25, 1);
$secondary-blue: rgba(38, 52, 65, 1);
$secondary-blue: rgba(38, 58, 66, 1);
$gray: rgba(222, 223, 224, 1);
$white: rgba(255, 255, 255, 1);
$white-transparent: rgba(228, 228, 228, 0.8);
$black-transparent: rgba(1, 1, 1, 0.5);
$facebook-color: #3B5998;
$green: rgba(99, 179, 70, 1);
$green-transparent: rgba(99, 179, 70, 0.8);
$dark-white: #dfdfdf;

#card {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  background: #d5d5d5;
  background: $dark-white;
  .cards {
    padding: 1.5rem;
    box-shadow: 0 1px 2px #aaa;
    background: white;
    margin: 0 0 1rem;
    border-radius: 3px;
    user-select: none;
    animation: fly-in-from-left .5s 1s ease both;
    transform-origin: top left;
    flex: 0 1 100%;
    .details {
      border-top: 2px #eeeeee solid;
      padding-top: 15px;
      p {
        color: #7d7b7c;
        float: right;
      }
      a {
        color: #65b447;
        float: left;
      }
    }

  }

  h4 {
    color: #3b99d4;
    padding: 0;
  }
  .details {
    text-align: right;
  }
  #pay {
    margin-top: 10px;
  }
  #location p {
    margin-top: 100%;
  }
  .col-md-6 {
    background: orange;
  }
}

.btn, .button {
  border-width: 0;
  outline: none;
  padding: 13px;
  min-width: 150px;
  font-weight: 700;
}

.btn-accept, .button-accept {
  @extend .button;
  background: $green;
  color: $white;
}

.btn-decline, .button-decline {
  @extend .button;
  background: $white;
  color: $primary-orange;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: $white;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $black-transparent;
}

/*Remove all ugly number spinners on input elements*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

header.hideHeader {
  -webkit-transform: translateY(0, -100%);
  -moz-transform: translateY(0, -100%);
  -ms-transform: translateY(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

header.ng-scope {
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  min-height: 55px;
  background: white;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0;
  transition: transform linear 0.3s;
  z-index: 100;
  .nav {
    li {
      a:hover, a:focus {
        background: none;
      }
      p {
        line-height: 20px;
        margin: 0;
        padding: 10px 15px
      }
    }
  }

  .navbar {
    margin-bottom: 0;
    li {
      border-bottom: 1px solid #dddfe1;
      color: #4b4d4a;
    }
    .navbar-brand {
      padding: 15px 15px 0 15px;
    }
    .navbar-header {
      border-bottom: 1px solid #eeeeee;
    }
    .navbar-toggle {
      margin: 0;
      padding: 20px;
      border: 0;
      border-left: 1px solid #eeeeee;
      border-radius: 0;
      background: transparent;

      &:hover {
        background: transparent !important;
      }

      .icon-bar {
        width: 22px;
        transition: all 0.2s;
        background-color: black;
      }
      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }
    .navbar-toggle.collapsed {
      .top-bar {
        transform: rotate(0);
      }
      .middle-bar {
        opacity: 1;
      }
      .bottom-bar {
        transform: rotate(0);
      }
    }
  }
}

footer {
  background: $secondary-blue;
  text-align: center;
  padding: 20px 0;
  .button {
    color: $primary-orange;
    border: 1px solid $primary-orange;
  }
  ul {
    padding: 20px 0;
  }
  h4 {
    color: $white;
    font-weight: 700;
  }
}

.create-article {
  text-align: center;
  .row:last-child {
    div:first-child {
      float: none;
      margin: 0 auto;
    }
  }
  p:nth-child(2) {
    width: 200px;
    margin: 0 auto;
  }
  .container {
    background: $white;
  }
}

.container .has-error {
  input, select, textarea {
    border: 1px solid red;
  }
}

.form-group {
  margin-top: 20px;
  text-align: left;
  label {
    color: rgba(21, 31, 47, 1);
    text-transform: uppercase;
  }
  input, select, textarea {
    text-align: left;
    background-color: transparent;
    border: 1px solid $gray;
    outline: none;
    padding: 13px;
    width: 100%;
    color: black;
    box-sizing: border-box;
  }
  select {
    background-image: url("./../images/ic_expand_more_black_24px.svg");
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /*Removes default style Firefox*/
  }
  input, select {
    height: 50px;
  }
  .profile-information {
    @extend input;
    margin-top: 20px;
    p {
      margin-bottom: 0;
    }
  }
  ::-webkit-input-placeholder {
    text-align: left;
  }

  :-moz-placeholder { /* Firefox 18- */
    text-align: left;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    text-align: left;
  }

  :-ms-input-placeholder {
    text-align: left;
  }

  button {
    @extend .button;
    margin-bottom: 15px;
    width: 100%;
  }
}

#facebook {
  background: #3B5998;
  border-color: #3B5998;
  margin-top: 0;
}

.center {
  text-align: center;
}

.ng-scope .container:first-child, .ng-scope .jumbotron:first-child {
  padding-top: 50px;
}

.angular-google-map-container {
  height: 50vh;
}
@media screen and (min-width: 768px) {
  #card {
    .cards {
      flex: 0 1 49%;
    }
    .cards:nth-child(even) {
      margin-left: 0;
    }
    .cards:nth-child(odd) {
      margin-right: 0;
    }
  }
  .container {
    max-width: 1140px;
  }

  /* Remove the padding we set earlier */
  header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  #main .jumbotron {
    border-bottom: 0;
    h1 {
      margin-top: 15%;
    }
    a {
      margin-bottom: 15%;
    }
  }
  header {
    .navbar {
      .nav {
        li {
          border: none;
          p {
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
      }
    }
  }

}



