@import "partial";


#text-login, #text-register {
  text-align: left;
  margin: 10px 0;
  color: $white;
  h4{

    display: inline-block;
  }

}
#text-register:nth-child(odd) h4 {
  color: $white-transparent;
  margin-right: 20px;
}


#text-login:nth-child(even) h4 {
  color: $white-transparent;
  margin-left: 20px;
}

#login_prompt {
  color: rgba(226, 226, 226, 1);
  border-color: rgba(226, 226, 226, 1);
  margin-top: 30px;
}

#login_prompt a {
  color: blue;
  text-decoration: underline;
}

#form-middle {
  display: block;
  padding: 6px 0;
  margin: 0;
}

@media screen and (min-width: 992px) {
  form .col-md-6 {
    margin-left: 25%;
  }
}



