// bower:scss
// endbower
@import 'partial.scss';
@import 'fonts.scss';
@import 'animation.scss';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: $dark-white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Main marketing message and sign up button */
.jumbotron {
  position: relative;
  text-align: center;
  padding: 0;
  border-bottom: 1px solid $white;
  margin: 0;
  a {
    background-color: #64b346;
    color: white;
    padding: 10px 100px;

    margin-bottom: 20%;
    display: inline-block;
  }
  p {
    font-size: 14px;
  }
  h1 {
    color: $white;
    margin-top: 20%;
  }
}

#pitch {
  background: url(./../images/working.jpg);
  background-size: cover;
  p {
    color: white;
    margin-bottom: 50px;
  }
}

#viewMore {
  padding: 10px 0 10px 0;
  background: $white;
  text-align: center;
  div{
    margin: 0 auto;
    float: none;
  }
  button {
    height: 50px;
    padding: 13px;
    width: 100%;
    color: $white;
    display: inline-block;
  }
}

.articleFilter {
  background-color: $white;
  margin-bottom: 10px;
  form {
    margin: 0 auto;
    max-width: 1140px;
  }
  p {
    margin-top: 20px;
    color: black;
  }
}

.navabar-collapse.collapsing {
  transition: height 0.35s ease 1s linear;
}


