<div id="profileImage"><img src="../images/working.jpg"/></div>
<div class="container profile">
  <div class="profileInfo">
    <img src="../images/working.jpg">
    <h4 id="name">Veronica Eriksson</h4>
    <p>Röbäck, Umeå (1500m)</p>
    <p>200kr</p>
    <P>
      Qui autem oportere explicari at. Ius ad oratio accusata electram, cu usu rebum deleniti. Elitr efficiendi mei ei,
      veri choro accusam eum cu. Mea sale sonet eligendi id, an congue discere menandri cum. At qui senserit quaerendum
    </P>

    <div>
      <ul>
        <li>{{userPrivate.phone}}</li>
        <li>{{userPrivate.email}}</li>
      </ul>
    </div>
  </div>
</div>
<div id="BackgroundContact"><button class="button-accept" ng-click="toggleContactInfo()">Kontakta mig</button></div>
<modal-success show='modalShownSuccess'>
  <div class="modalInfo">
    <div class="infoIcon success">
      ✓
    </div>
    <p>Annonsen blev skapad</p>
  </div>
  <a href="#/home" class="btn-accept">Ok</a>
</modal-success>
<modal-dialog-error show='modalShownError'>
  <div class="modalInfo">
    <div class="infoIcon error">
      ✖
    </div>
    <p>Tyvär gick det inte att skapa annonsen. Var vänlig fösök igen</p>
  </div>
  <button class="btn-accept error" ng-click="submitForm()">Försök igen</button>
</modal-dialog-error>
