<div class="article fadeInUp animated" ng-init="limit=200">
    <div class="articleHeader" style="background-image: url('{{apiURL}}{{article.images[0]}}')">
        <div class="articleInfo">
            <h4>{{article.title}}</h4>
            <p>{{article.neighborhood}}, {{article.city}} ({{article.distance | distance}})</p>
        </div>

    </div>
    <div class="row articleDescription" animate-on-change-directive="limit">

        <pre>{{article.description | limitTo:limit}}... </pre>
        <p>{{article.type | articleTypeFilter}}</p>
        <p>{{article.price | money:":-"}}</p>
        <p class="date">{{article.date_creation | date:'dd/M HH:mm'}}</p>

        <div ng-if="limit>200">
            <a href="#!/user/{{article.author.username}}"><p>{{article.author.firstname}} {{article.author.lastname}}</p>
            </a>
            <p>{{article.contact}}</p>
        </div>
    </div>

    <div class="details" ng-click="limit = { 200: 3000, 3000:200}[limit];getUserById(article,limit)">
        <p>Läs mer</p>
    </div>
</div>
