<div class="article fadeInUp animated">
    <div class="articleHeader" style="background-image: url('{{apiURL}}/content/articles/{{article.file}}')">
        <div class="articleInfo">
            <h4>{{article.title}}</h4>
            <p>{{article.neighborhood}}, {{article.city}} ({{article.distance | distance}})</p>
        </div>

    </div>
    <div class="row articleDescription">
        <div>
            <p>{{article.description | limitTo:200}}... </p>
            <p>{{article.type | articleTypeFilter}}</p>
            <p>{{article.price | money:":-"}}</p>
            <p>{{article.date_creation | date:'dd/M HH:MM'}}</p>
        </div>
    </div>
    <div class="details">
        <a ng-href="#/article/{{article.advert_id}}">
            Läs mer
        </a>
    </div>
</div>
