<div class="create-article">

  <div class="container">

    <h1>Skapa annons</h1>

    <p>När du skapar en annons tänk då på att göra en tydlig rubrik som beskriver vad du behöver hjälp med eller vad du
      kan hjälpa till med. Om ingen kategori passar in perfekt, välj den som passar in bäst.</p>
    <form ng-submit="articelForm.$valid && submitForm()" name="articelForm" novalidate>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group" ng-class="{ 'has-error': articelForm.city.$touched && articelForm.city.$invalid }">
            <label>Stad</label>
            <input type="text" name="city" class="form"
                   placeholder="Umeå"
                   ng-model="articleData.city"
                   ng-minlength="1"
                   ng-maxlength="45"
                   required>

            <div class="help-block" ng-messages="articelForm.city.$error" ng-if="articelForm.city.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
        </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group" ng-class="{ 'has-error': articelForm.sublocality.$touched && articelForm.city.$invalid }">
            <label>Stadsdel</label>
            <input type="text" name="sublocality" class="form"
                   placeholder="Umedalen"
                   ng-model="articleData.sublocality"
                   ng-minlength="1"
                   ng-maxlength="45"
                   required>

            <div class="help-block" ng-messages="articelForm.sublocality.$error" ng-if="articelForm.sublocality.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form-group"
               ng-class="{ 'has-error': articelForm.contact.$touched && articelForm.contact.$invalid }">
            <label>Kontaktinformation</label>
            <input type="text" name="contact" class="form"
                   placeholder="070-1234567 eller test@mail.com"
                   ng-model="articleData.contact"
                   ng-maxlength="45"
                   required>

            <div class="help-block" ng-messages="articelForm.contact.$error"
                 ng-if="articelForm.contact.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group"
               ng-class="{ 'has-error': articelForm.title.$touched && articelForm.title.$invalid }">
            <label>Rubrik</label>
            <input type="text" name="title" class="form"
                   placeholder="Måla staket..."
                   ng-model="articleData.title"
                   ng-minlength="6"
                   ng-maxlength="45"
                   required>

            <div class="help-block" ng-messages="articelForm.title.$error" ng-if="articelForm.title.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form-group"
               ng-class="{'has-error': articelForm.price.$touched && articelForm.price.$invalid}">
            <label>Pris</label>
            <input type="number" name="price" class="form"
                   placeholder="200"
                   ng-model="articleData.price"
                   min="0"
                   required>

            <div class="help-block" ng-messages="articelForm.price.$error"
                 ng-if="articelForm.price.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="form-group"
               ng-class="{ 'has-error': articelForm.description.$touched && articelForm.description.$invalid }">
            <label>Beskrivning</label>
            <textarea type="text" name="description"
                      cols="40"
                      rows="10"
                      class="form"
                      placeholder="Jag..."
                      ng-model="articleData.description"
                      ng-minlength="1"
                      ng-maxlength="2048"
                      required> </textarea>
            <p class="wordCount">{{articleData.description.length||0}}/2048</p>

            <div class="help-block" ng-messages="articelForm.description.$error"
                 ng-if="articelForm.description.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group"
               ng-class="{'has-error': articelForm.category.$touched && articelForm.category.$invalid}">
            <label>Kategori</label>
            <select ng-model="articleData.category"
                    name="category"
                    required>
              <option value="">Välj kategori</option>
              <option value="dataAndIT">Data & IT</option>
              <option value="gardeningAndShoveling">Trädgård & snöskotning</option>
              <option value="economyAndAdministration">Ekonomi & administration</option>
              <option value="partAndEntertainment">Fest & underhållning</option>
              <option value="movingAndBroker">Flytthjälp & mäklare</option>
              <option value="homeDecoration">Heminredning</option>
              <option value="handyWork">Hantverk</option>
              <option value="petSitter">Hund- & djurvakt</option>
              <option value="healthAndBeauty">Hälsa & skönhet</option>
              <option value="cookingAndCatering">Matlagning & catering</option>
              <option value="babySitter">Barnvakt</option>
              <option value="cleaning">Städhälp</option>
              <option value="santa">Tomte</option>
              <option value="transportationAndCarpool">Transport & samåkning</option>
              <option value="homeworkAndTeaching">Läxhjälp & undervisning</option>
              <option value="other">Annat</option>
            </select>

            <div class="help-block" ng-messages="articelForm.category.$error"
                 ng-if="articelForm.category.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form-group"
               ng-class="{'has-error': articelForm.type.$touched && articelForm.type.$invalid}">
            <label>Köpes/Säljes</label>
            <select ng-model="articleData.type"
                    name="type"
                    required>
              <option value="">Välj ett alternativ</option>
              <option value="0">Behöver hjälp</option>
              <option value="1">Kan hjälpa</option>
            </select>

            <div class="help-block" ng-messages="articelForm.type.$error"
                 ng-if="articelForm.type.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group imageUpload">
            <img ngf-src="files"/>
            <div ngf-drop ngf-select ng-model="files" name="files" ngf-pattern="'image/*'"
                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="200" ngf-multiple="true">
              <p>Klicka för att ladda upp en bild</p>
            </div>
            <span class="deleteImage" ng-show="files" ng-click="deleteImage()"></span>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <button type="submit" class="button-accept" value="Submit" ng-disabled="articelForm.$invalid"
                    ladda="loading">
              Skapa annons
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<modal-success show='modalShownSuccess'>
  <div class="modalInfo">
    <div class="infoIcon success">
      ✓
    </div>
    <p>Annonsen blev skapad</p>
  </div>
  <a href="#/home" class="btn-accept">Ok</a>
</modal-success>
<modal-dialog-error show='modalShownError'>
  <div class="modalInfo">
    <div class="infoIcon error">
      ✖
    </div>
    <p ng-repeat="error in errorMessages">{{error}}</p>
  </div>
  <button class="btn-accept error" ng-click="submitForm()">Försök igen</button>
</modal-dialog-error>
