<div id="main">
  <div class="jumbotron" id="pitch">
    <div class="filter">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <h1>JOBB NÄRA DIG</h1>

          <p class="lead">
            Målet med Serble är att förenkla letandet och ansökandet för vardags jobb. För att göra det lättare för alla
            att tjäna lite extra pengar eller få hjälp med något svårt, exempelvis den där datorn som inte startar.
            </p>

          <a class="button-decline" href="/#/create-article">Annonsera</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid articleFilter">
    <form ng-submit="searchForm.$valid && getArticles()" name="searchForm" novalidate>
      <p>SÖK ANNONSER</p>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <input type="text"
                   name="query"
                   ng-model="search.text"
                   placeholder="Sök efter annonser...">
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <select ng-model="search.category"
                    name="category">
              <option value="">Välj kategori</option>
              <option value="dataAndIT">Data & IT</option>
              <option value="gardeningAndShoveling">Trädgård & snöskotning</option>
              <option value="economyAndAdministration">Ekonomi & administration</option>
              <option value="partAndEntertainment">Fest & underhållning</option>
              <option value="movingAndBroker">Flytthjälp & mäklare</option>
              <option value="homeDecoration">Heminredning</option>
              <option value="handyWork">Hantverk</option>
              <option value="petSitter">Hund- & djurvakt</option>
              <option value="healthAndBeauty">Hälsa & skönhet</option>
              <option value="cookingAndCatering">Matlagning & catering</option>
              <option value="babySitter">Barnvakt</option>
              <option value="cleaning">Städhälp</option>
              <option value="santa">Tomte</option>
              <option value="transportationAndCarpool">Transport & samåkning</option>
              <option value="homeworkAndTeaching">Läxhjälp & undervisning</option>
              <option value="other">Annat</option>
            </select>
          </div>
        </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <button type="submit" class="button-accept" value="Submit" ng-disabled="searchForm.$invalid">
                Sök annonser
              </button>
            </div>
          </div>
        <div class="col-xs-12 col-md-12">
          <div class="form-group">
            <select ng-model="search.order"
                    name="order">
              <option value="">Sortera efter</option>
              <option value="-price">Högst pris fört</option>
              <option value="price">lägst pris först</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-md-12">
          <div class="form-group">
            <select ng-model="search.type"
                    name="type">
              <option value="" disabled>Köpes och säljes</option>
              <option value="buying">Köpes</option>
              <option value="selling">Säljes</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="container" id="card">
    <div class="cards"
         ng-repeat="article in articles.data | limitTo: quantity | orderBy:search.order ">
      <h4>{{article.title}}</h4>

      <p>{{article.description | limitTo:170}}... </p>
      <div class="details">
        <a ng-href="#/article/{{article.id}}">Kontakta</a>
        <p>{{article.locationDistance}}, {{article.payout | currency : ""}} Kr</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row" id="view_more">
      <div class="col-xs-12">
        <a href="" ng-click="quantity = quantity + 20">
          <p class="btn-accept">VISA FLER</p>
        </a>
      </div>
    </div>
  </div>
</div>


