<div id="profileImage" class="container" style="background-image: url('{{apiURL}}{{user.avatar_url}}')"></div>
<div class="container profile">
    <div class="profileInfo">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="firstname">Förnamn </label>
                <input type="text" id="firstname" ng-model="user.firstname">

            </div>
            <div class="form-group col-md-6">
                <label for="lastname">Efternamn </label>
                <input type="text" id="lastname" ng-model="user.lastname">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="phone"> Telefon </label>
                <input type="tel" id="phone" ng-model="user.phone">
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" id="email" ng-model="user.email">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="description">Beskrivning</label>
                 <textarea type="text" name="description" id="description"
                           cols="40"
                           rows="10"
                           ng-model="user.description">
                 </textarea>
                <p class="wordCount">{{user.description.length||0}}/2048</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="city">Stad</label>
                <input type="text" id="city" ng-model="user.city">
            </div>
            <div class="form-group col-md-6">
                <label for="file">Profilbild</label>
                <div class="imageUpload">
                    <div id="file" ngf-drop ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="200">
                        <p>Klicka för att ladda upp en bild</p>
                    </div>
                    <span class="deleteImage" ng-show="file" ng-click="deleteImage()"></span>
                </div>
                <div class="images"><img ngf-src="file"/></div>
            </div>
        </div>
    </div>
    <button class="btn-accept" ladda="loading" ng-click="update()">save</button>
</div>
<div class="container" id="cards">
    <div class="card" ng-repeat="article in articles | orderBy:search.order">
        <button ng-click="removeById(article.advert_id)">Ta bort annons</button>
        <card-directive>
        </card-directive>
    </div>
</div>
<modal-success show='modalShownSuccess'>
    <div class="modalInfo">
        <div class="infoIcon success">
            ✓
        </div>
        <p>{{success}}</p>
    </div>
    <button class="btn-accept" ng-click="toggleModalSuccess()">Ok</button>
</modal-success>
<modal-dialog-error show='modalShownError'>
    <div class="modalInfo">
        <div class="infoIcon error">
            ✖
        </div>
        <p>{{error}}</p>
    </div>
    <button class="btn-accept error" ng-click="toggleModalError()">Ok</button>
</modal-dialog-error>
