<div class="container">
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="profile-information input-face">
          <p>Kak</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="profile-information input-face">
          <p>Monster</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="profile-information input-email">
          <p>kakmonster@kladdkaka.com</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="profile-information input-phone">
          <p>070-5275424</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="profile-information input-house">
          <p>Umeå</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="profile-information input-house">
          <p>90333SS</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="profile-information input-bio">
          <p>Lorem ipsum dolor sit amet, eum rebum nemore diceret ea, vel an duis docendi. Nec cu solet ubique invidunt,
            eius graeci iudicabit an usu. Melius assueverit cu duo, vel ei munere utroque erroribus. Te falli officiis
            has, sit omnium eleifend vituperatoribus ei, utinam iisque integre ne sit. Quem quaestio ea vis.

            Graece signiferumque usu id, cu vim detraxit laboramus adversarium. Per at minimum consetetur. Pro in nostro
            aperiam, ea impetus appareat intellegebat vis, an equidem percipit expetendis eam. Discere appareat vel ut.
            Fierent apeirian mel no, feugiat albucius ne per, dolorum molestie sensibus mel cu. Vivendo accusata nam ut,
            ad pri utamur fuisset suavitate.

            Duo ei illum scripta inciderint, delenit legimus corrumpit ei ius, sea decore putent delenit an. At appetere
            necessitatibus quo, ea probo dicit facete has. Ei principes rationibus mediocritatem eum, animal rationibus
            ad nec, at vel sonet erroribus. Mea ea movet feugiat. Eu animal quaeque mea, ut vel tollit adipiscing. Mazim
            nostro recteque eu vis, graece utroque delectus sea te.

            Alii feugiat euripidis an sit, soleat volumus at vel. Qui nihil quidam option te. Ut usu dolores accumsan,
            vix augue soleat commodo cu. Eu atqui probatus facilisi pro, paulo homero persius nec ut, oratio corrumpit
            percipitur eu vis. At eum detraxit efficiantur.

            Ut causae noluisse recusabo vim, ei duo fuisset inimicus. Ius id nibh maiestatis, et novum primis intellegam
            vix. No laudem legendos instructior sed, mei eu utinam ridens, his purto definitionem ei. In has insolens
            dissentiet theophrastus. Duo adhuc dictas pertinacia ne, ex nam veniam commune lucilius, temporibus
            reformidans his ex. Ne eum numquam scriptorem, has etiam libris id. At prima oratio invenire vim.</p>
        </div>
      </div>
    </div>
  </div>
</div>
