<div id="profileImage" class="container" style="background-image: url('{{apiURL}}{{user.avatar_url}}')"><img ng-src=""/></div>
<div class="container profile">
  <div class="profileInfo">
    <h4 id="name">{{user.firstname}} {{user.lastname}}</h4>
    <p>{{user.city}}</p>
    <pre>{{user.description}}</pre>
    <button class="button-accept animated " ng-click="toggleContactInfo()" ng-class="{fadeOut: toggleContactInfoPressed}" ng-if="!toggleContactInfoPressed">kontakta mig</button>
    <div class="animated" ng-class="{fadeIn: toggleContactInfoPressed}">
      <ul>
        <li>{{userPrivate.phone}}</li>
        <li>{{userPrivate.email}}</li>
      </ul>
    </div>
  </div>
</div>
<modal-success show='modalShownSuccess'>
  <div class="modalInfo">
    <div class="infoIcon success">
      ✓
    </div>
    <p>Annonsen blev skapad</p>
  </div>
  <a href="#!//home" class="btn-accept">Ok</a>
</modal-success>
<modal-dialog-error show='modalShownError'>
  <div class="modalInfo">
    <div class="infoIcon error">
      ✖
    </div>
    <p>Tyvär gick det inte att skapa annonsen. Var vänlig fösök igen</p>
  </div>
  <button class="btn-accept error" ng-click="submitForm()">Försök igen</button>
</modal-dialog-error>
