<div class="container" id="article">

  <div class="row">
    <div class="col-xs-12"><h2> Måla mitt hus </h2></div>
  </div>

  <div class="row">
    <div class="col-xs-12"><p>Lorem ipsum dolor sit amet, dapibus sagittis suscipit augue, suscipit maecenas tellus amet
      orci, bibendum lectus </p></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p> Behöver tjänst inom hantverk </p>

      <p> 100-300kr</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6"><p> Sten Holt </p>

      <p> Umeå, Baggböle</p></div>
    <div class="col-xs-6"><p>+46 70 234 56 78</p>

      <p> sten.holt@mail.se</p>
    </div>
  </div>

</div>
