<div class="create-article">
  <div class="container">

    {{createArticle.createArticle.fname}}

    <form ng-submit="articelForm.$valid && main.submitContact()" name="articelForm" novalidate>
      <div class="row noBorder">
        <div class="col-xs-12 col-md-6">
          <h4>Kontaktuppgifter</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">


          <div class="form-group"
               ng-class="{ 'has-error': articelForm.fname.$touched && articelForm.fname.$invalid }">

            <input type="text" name="fname" class="form input-face"
                   placeholder="Förnamn"
                   ng-model="createArticle.createArticle.fname"
                   ng-minlength="1"
                   ng-maxlength="70"
                   required>

            <div class="help-block" ng-messages="articelForm.fname.$error" ng-if="articelForm.fname.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form-group"
               ng-class="{ 'has-error': articelForm.lname.$touched && articelForm.lname.$invalid }">

            <input type="text" name="lname" class="form input-face"
                   placeholder="Efternamn"
                   ng-model="createArticle.createArticle.lname"
                   ng-minlength="1"
                   ng-maxlength="70"
                   required>

            <div class="help-block" ng-messages="articelForm.lname.$error" ng-if="articelForm.lname.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group" ng-class="{ 'has-error': articelForm.city.$touched && articelForm.city.$invalid }">

            <input type="text" name="city" class="form input-house"
                   placeholder="Stad"
                   ng-model="createArticle.createArticle.city"
                   ng-minlength="1"
                   ng-maxlength="70"
                   required>

            <div class="help-block" ng-messages="articelForm.city.$error" ng-if="articelForm.city.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form-group"
               ng-class="{ 'has-error': articelForm.zipCode.$touched && articelForm.zipCode.$invalid }">

            <input type="number" name="zipCode" class="form input-house"
                   placeholder="Postnummer 5 siffror"
                   ng-model="createArticle.createArticle.zipCode"
                   ng-minlength="5"
                   ng-maxlength="5"
                   required>

            <div class="help-block" ng-messages="articelForm.zipCode.$error" ng-if="articelForm.zipCode.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group"
               ng-class="{ 'has-error': articelForm.phonenumber.$touched && articelForm.phonenumber.$invalid }">

            <input type="number" name="phonenumber" class="form input-phone"
                   placeholder="Mobilnummer"
                   ng-model="createArticle.createArticle.phonenumber"
                   ng-minlength="10"
                   ng-maxlength="10"
                   required>

            <div class="help-block" ng-messages="articelForm.phonenumber.$error"
                 ng-if="articelForm.phonenumber.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form-group"
               ng-class="{ 'has-error': articelForm.email.$touched && articelForm.email.$invalid }">

            <input type="email" name="email" class="form input-email"
                   placeholder="Email"
                   ng-model="createArticle.createArticle.email"
                   ng-minlength="1"
                   ng-maxlength="100"
                   required>

            <div class="help-block" ng-messages="articelForm.email.$error" ng-if="articelForm.email.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <button type="submit" class="button" value="Submit" ng-disabled="articelForm.$invalid">Fortsätt</button>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <button type="button" class="button">Avbryt</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
