<div class="create-article">
  <div class="container">
    <form ng-submit="articelFormInfo.$valid && main.submitContact()" name="articelFormInfo" novalidate>
      <div class="row noBorder">
        <div class="col-xs-12 col-md-6">
          <h4>Kontaktuppgifter</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">


          <div class="form-group"
               ng-class="{ 'has-error': articelFormInfo.header.$touched && articelFormInfo.header.$invalid }">

            <input type="text" name="header" class="form input-text-field"
                   placeholder="Rubrik"
                   ng-model="main.header"
                   ng-minlength="1"
                   ng-maxlength="20"
                   required>

            <div class="help-block" ng-messages="articelFormInfo.header.$error" ng-if="articelFormInfo.header.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form-group"
               ng-class="{ 'has-error': articelFormInfo.description.$touched && articelFormInfo.description.$invalid }">

            <input type="text" name="description" class="form input-text-field"
                   placeholder="Beskrivning"
                   ng-model="createArticleInfo.info.info.description"
                   ng-minlength="1"
                   ng-maxlength="1000"
                   required>

            <div class="help-block" ng-messages="articelFormInfo.description.$error"
                 ng-if="articelFormInfo.description.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group"
               ng-class="{'has-error': articelFormInfo.price.$touched && articelFormInfo.price.$invalid}">

            <input type="number" name="price" class="form input-money"
                   placeholder="Pris"
                   ng-model="createArticleInfo.info.info.price"
                   ng-minlength="1"
                   ng-maxlength="70"
                   required>

            <div class="help-block" ng-messages="articelFormInfo.zipCode.$error"
                 ng-if="articelFormInfo.zipCode.$touched">
              <div ng-messages-include="../resources/error.html"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <select ng-model="createArticleInfo.info.info.category"
                    name="category"
                    required>
              <option value="">Vilken kategori</option>
              <option value="data">Data och sånt</option>
              <option value="gardening">Trädgårdsarbete</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <select ng-model="createArticleInfo.info.info.type"
                    name="category"
                    required>
              <option value="">Behöver eller erbjuder</option>
              <option value="buy">Behöver hjälp</option>
              <option value="sell">Kan hjälpa</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <button type="submit" class="button-accept" value="Submit" ng-disabled="articelFormInfo.$invalid">Granska
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <button type="button" class="button">Avbryt</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
