#createAd {
  background: rgba(106, 106, 106, 1);
}

#createAd .row {
  border-top: 4px solid rgba(228, 228, 228, 1);
  padding: 10px 0px;
}
#createAd .form {
  border-color: rgba(228, 228, 228, 1);
  border-width: 0px 0px 2px 0px;
  background: rgba(106,106,106,1);
  outline: none;
  width: 100%;

}
.dropdown-toggle{
  border-bottom: 2px solid rgba(228, 228, 228, 1);
  width: 100%;
}
#createAd ul{
     width: 100%;
    padding: 10px;
}