<div id="adInfo">
  <div class="filter">
  <div class="container">
    <div class="row" id="header">
      <div class="col-xs-4">
        <i class="material-icons md-48">&#xE408;</i>
      </div>
      <div class="col-xs-8">
        <h4>{{name}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <i class="material-icons md-48">&#xE853;</i>

        <p>{{description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>{{name}}</p>

        <p>{{adress}}, {{zipCode}}</p>

        <p>{{phonenumber}}</p>

        <p>{{email}}</p>
      </div>

    </div>
  </div>
    </div>
</div>
