<div id="adInfo">
  <div class="filter">
    <div class="container">
      <div class="row" id="header">
        <div class="col-xs-12">
          <h4>{{name}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>{{description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p>{{name}}</p>

          <p>{{adress}}, {{zipCode}}</p>

          <p>{{phonenumber}}</p>

          <p>{{email}}</p>
        </div>
        <div class="col-xs-6" id="alignRight">
          <p>{{type}}</p>
          <p>{{category}}</p>
          <p>{{price | currency : "SEK "}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
