<div class="container">

    <form name="adForm" novalidate>

      <div class="row">
        <div class="form-group" ng-class="{ 'has-error': adForm.header.$touched && adForm.header.$invalid }">

          <input type="text" name="header" class="form col-xs-12"
                 placeholder="Header"
                 ng-model="main.header"
                 ng-minlength="5"
                 ng-maxlength="15"
                 required>

          <div class="help-block" ng-messages="adForm.header.$error" ng-if="adForm.header.$touched">
            <div ng-messages-include="../resources/messages.html"></div>
          </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': adForm.description.$touched && adForm.description.$invalid}">

          <input type="text" name="description" class="form col-xs-12" id="description"
                 placeholder="Description"
                 ng-model="main.description"
                 ng-minlength="10"
                 ng-maxlength="200"
                 required>
        </div>

        <div class="form-group" ng-class="{ 'has-error': adForm.email.$touched && adForm.email.$invalid }">

          <input type="email" name="email" class="form col-xs-12"
                 placeholder="Email"
                 ng-model="main.email"
                 ng-minlength="5"
                 ng-maxlength="20"
                 required>

          <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
            <div ng-messages-include="../resources/messages.html"></div>
          </div>

        </div>
      </div>
      <div class="row">

      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-danger">Submit</button>
      </div>

    </form>
</div><!-- /container -->
