<div class="container" id="createAd">

  <form ng-submit="adForm.$valid && main.submit()" name="adForm" novalidate>

    <div class="row">
      <div class="col-xs-12">
        <h4>What do you need help with?</h4>
        <div class="form-group" ng-class="{ 'has-error': adForm.header.$touched && adForm.header.$invalid }">

          <input name="header" class="form "
                 placeholder="Header"
                 ng-model="main.header"
                 ng-minlength="1"
                 ng-maxlength="15"
                 required>

          <div class="help-block" ng-messages="adForm.header.$error" ng-if="adForm.header.$touched">
            <div ng-messages-include="../resources/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group"
             ng-class="{'has-error': adForm.description.$touched && adForm.description.$invalid}">

          <textarea type="text" name="description" class="form " id="description"
                    rows="4"
                    cols="50"
                    placeholder="Description"
                    ng-model="main.description"
                    ng-minlength="1"
                    ng-maxlength="1000"
                    required>
            </textarea>
        </div>
        <div class="help-block" ng-messages="adForm.description.$error" ng-if="adForm.description.$touched">
          <div ng-messages-include="../resources/messages.html"></div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group" ng-class="{ 'has-error': adForm.price.$touched && adForm.price.$invalid }">

          <input type="number" name="price" class="form "
                 placeholder="Price only numbers"
                 ng-model="main.price"
                 ng-minlength="1"
                 ng-maxlength="10"
                 required>

          <div class="help-block" ng-messages="adForm.price.$error" ng-if="adForm.price.$touched">
            <div ng-messages-include="../resources/messages.html"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Contact information</h4>
        <div class="form-group" ng-class="{ 'has-error': adForm.name.$touched && adForm.name.$invalid }">

          <input type="text" name="name" class="form "
                 placeholder="Name"
                 ng-model="main.name"
                 ng-minlength="1"
                 ng-maxlength="70"
                 required>

          <div class="help-block" ng-messages="adForm.name.$error" ng-if="adForm.name.$touched">
            <div ng-messages-include="../resources/messages.html"></div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group" ng-class="{ 'has-error': adForm.phonenumber.$touched && adForm.phonenumber.$invalid }">

          <input type="tel" name="phonenumber" class="form "
                 placeholder="Phone number"
                 ng-model="main.phonenumber"
                 ng-minlength="10"
                 ng-maxlength="10"
                 required>

          <div class="help-block" ng-messages="adForm.phonenumber.$error" ng-if="adForm.phonenumber.$touched">
            <div ng-messages-include="../resources/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group" ng-class="{ 'has-error': adForm.email.$touched && adForm.email.$invalid }">

          <input type="email" name="email" class="form "
                 placeholder="Email"
                 ng-model="main.email"
                 ng-minlength="1"
                 ng-maxlength="100"
                 required>

          <div class="help-block" ng-messages="adForm.email.$error" ng-if="adForm.email.$touched">
            <div ng-messages-include="../resources/messages.html"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group"
             ng-class="{'has-error': adForm.type.$touched && adForm.type.$invalid}">


          <select name="type"
                  ng-model="main.type"
                  required>
            <option value="">Buying or selling?</option> <!-- not selected / blank option -->
            <option value="buying">Buying</option> <!-- interpolation -->
            <option value="gardening">Selling</option>
          </select>
        </div>
        <div class="help-block" ng-messages="adForm.type.$error" ng-if="adForm.type.$touched">
          <div ng-messages-include="../resources/messages.html"></div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group"
             ng-class="{'has-error': adForm.category.$touched && adForm.category.$invalid}">

          <select name="category"
                  ng-model="main.category"
                  required>
            <option value="">Select category</option> <!-- not selected / blank option -->
            <option value="computer">Computer</option> <!-- interpolation -->
            <option value="gardening">Gardening</option>
          </select>
        </div>
        <div class="help-block" ng-messages="adForm.type.$error" ng-if="adForm.type.$touched">
          <div ng-messages-include="../resources/messages.html"></div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Where do you need help?</h4>
        <div class="form-group" ng-class="{ 'has-error': adForm.zipCode.$touched && adForm.zipCode.$invalid }">

          <input type="number" name="zipCode" class="form "
                 placeholder="Postnummer 5 siffror"
                 ng-model="main.zipCode"
                 ng-minlength="5"
                 ng-maxlength="5"
                 required>

          <div class="help-block" ng-messages="adForm.zipCode.$error" ng-if="adForm.zipCode.$touched">
            <div ng-messages-include="../resources/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group"
             ng-class="{'has-error': adForm.adress.$touched && adForm.adress.$invalid}">

          <input type="text" name="adress" class="form "
                 placeholder="Adress"
                 ng-model="main.adress"
                 ng-minlength="2"
                 ng-maxlength="40"
                 required>
        </div>
        <div class="help-block" ng-messages="adForm.zipCode.$error" ng-if="adForm.zipCode.$touched">
          <div ng-messages-include="../resources/messages.html"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <button type="button" class="btn">Cancel</button>
        </div>
        <div class="col-xs-6">
          <button type="submit" class="btn" value="Submit" ng-disabled="adForm.$invalid">Submit</button>
        </div>
      </div>


  </form>
</div><!-- /container -->
{{main.description}}

