<div class="jumbotron">
  <div class="container">
    <h1> Your local services.</h1>


    <p class="lead">Serble connects the people that need help with the people that want to help.</p>

    <p><a class="btn" ng-href="#/">CREATE AN AD!</span></a></p>
  </div>
</div>
<div class="cards" ng-repeat="card in cards">
  <div class="container">

    <div class="row">
      <div class="col-xs-8">
        <h4>{{card.header}}</h4>
        </div>
      <div class="col-xs-4 details">
        <p>{{card.price | currency : "SEK "}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p>{{card.description | limitTo:100}}... </p>
      </div>
      <div class="col-xs-4 details">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <p>{{card.locationDistance}}, {{card.location}}</p>
      </div>
    </div>
  </div>
</div>
