

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d28161.091048271875!2d20.26428675!3d63.823363949999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1448877831604" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen data-toggle="collapse" data-target=".cards"></iframe>
  <div class="container">
  <button type="button" data-toggle="collapse" data-target=".MapCards">
    <span class="glyphicon glyphicon-search search-icon"></span>
  </button>
  <div class="col-xs-12 MapCards cards collapse">
    <div class="row">
      <div class="col-xs-8">
        <h3>{asdasdad</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8" >
        <p>{card.description}} </p>
      </div>
      <div class="col-xs-4 details" >
        <p>500}</p>
        <p>500, umeå</p>
      </div>
    </div>
  </div>
</div>
